<div class="navbar-nav w-100  bg-dark  text-white z-2   d-lg-none position-absolute  border-1 border-black border-top border-bottom " style="margin-top: 1px;">
    <a  class="nav-item  nav-link  "  routerLinkActive="text-warning text" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
    <a class="nav-item  nav-link  "  routerLinkActive="text-warning " [routerLinkActiveOptions]="{exact:true}" routerLink="about">About</a>
    <a class="nav-item  nav-link  "  routerLinkActive="text-warning  " [routerLinkActiveOptions]="{exact:true}" routerLink="ourteam">Our Team</a>
</div>