<div class="z-1 bg-transparent text-white h-100  container   mt-5  bg-dark  align-items-center justify-content-center d-flex  ">
   
<div class="  row  h-50 ">
    <div class=" col-12  col-lg-6 " >
        <h1>Best Baguettes In the World </h1>
        <h5>Welcome to Baguetes Bakery, where we're all about the simple joy of great baguettes. Our golden-crusted loaves are baked fresh daily, delivering that perfect crunch on the outside and soft, fluffy goodness inside. From sandwiches to snacking, our baguettes make every bite a delight. Come taste the difference at Baguetes Bakery</h5>
        <button class="btn btn-warning " routerLink="about">Learn More</button>
    </div>
    <div class="col-12 col-lg-6">
        <img src="assets/images/bagieta.png" alt="bagieta" class="w-100 ">
    </div>
</div>
</div>