<div class="navbar navbar-dark bg-dark text-white w-100 px-sm-2  px-md-5 " style="height: 100px;" href="index.html" >
    <a class="navbar-brand ms-4 ms-lg-0 align-content-start w-25 h-100  d-inline" >
        <img src="assets/images/logo.png" alt="logo" class="img-fluid m-1  d-inline" style=" height: 100%;">
       <h1  class="mt-2 m-auto bg-transparent text-warning  d-inline">Długie Bagiety</h1>
    </a>
    <div class=" m-3 d-inline  w-50 d-flex flex-row-reverse text-white ">
        <div class=" bg-transparent   d-none d-lg-inline  " style="margin-top: 1px; " >
            <a class="nav-item  nav-link  d-inline m-2 " routerLinkActive="text-warning " [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
            <a class="nav-item  nav-link  d-inline m-2 " routerLinkActive="text-warning " [routerLinkActiveOptions]="{exact:true}" routerLink="about">About</a>
            <a class="nav-item  nav-link  d-inline m-2 " routerLinkActive="text-warning " [routerLinkActiveOptions]="{exact:true}" routerLink="experts">Experts</a>

            <a class="nav-item  nav-link  d-inline m-2 " routerLinkActive="text-warning " [routerLinkActiveOptions]="{exact:true}" routerLink="ourteam">Our Team</a>
            
        </div>
        <app-navbarmenu  ></app-navbarmenu>
    </div>
</div>
