<div class="bg-dark text-dark " style="height:100px;">.</div>

<div class="container  w-100 h-100 text-white  text-center ">
    <div class="row">
        <h1 class="col-12 ">Expert Opinions</h1>
    </div>
     <div class="row pt-2 ">
        <div class="col-12  col-lg-4 p-2">
            <div style="height: 140px;">
            <h1>Gordon Ramsay</h1>
            <h6>Indulge in the baguette's crispy perfection, its aroma a prelude to pure culinary bliss. A testament to baking's artistry, it never fails to satisfy.</h6>
        </div>
            <img src="assets/images/Gordonek.png" alt="gordon" style="height: 200px;">
        </div>
        <div class="col-12   col-lg-4  p-2 ">
        <div style="height: 140px;">
        <h1>Emmanuel Macron</h1>
        <h6 >*Happy Frog Eater Noises*</h6>
        </div>
        <img src="assets/images/makaroniarz.png" alt="emanuel" style="height: 200px; " class="" >
        </div>
        <div class="col-12  col-lg-4  ">   
            <div style="height: 140px; ">
            <h1>Magda Gessler</h1>
            <h6 class="">Najlepsze bagietki na świecie</h6>
            </div>
            <img src="assets/images/gessler.png" alt="madzia" style="height: 200px; " class=" " >
        </div>
     </div>
     <div class="row py-2 mb-5 ">
        <div class="col-12  col-lg-4 p-2">
            <div style="height: 140px;">
            <h1>Czesław Bagiński</h1>
            <h6>Dyskretna Bagietka</h6>
        </div>
            <img src="assets/images/baginiak.jpg" alt="bagina" style="height: 200px;">
        </div>
        <div class="col-12   col-lg-4  p-2 ">
        <div style="height: 140px;">
        <h1>MrKrycha </h1>
        <h6 >Robi Wrażenie</h6>
        </div>
        <img src="assets/images/krycha.png" alt="krycha" style="height: 200px; " class="" >
        </div>
        <div class="col-12  col-lg-4  ">   
            <div style="height: 150px; ">
            <h1>Xi Jinping</h1>
            <h6 class="">小熊維尼的小陰莖</h6>
            </div>
            <img src="assets/images/xi.png" alt="xi" style="height: 200px; " class=" " >
        </div>
     </div>
    <div class="bg-dark text-dark row " style="height:100px;">.</div>

    </div>
